numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.2
xgboost==2.1.4
joblib==1.4.2

matplotlib==3.9.2
seaborn==0.13.2
plotly==5.24.1

streamlit==1.39.0

shap==0.46.0

pytest==8.3.4
pytest-cov==6.0.0

jupyter==1.1.1
ipykernel==6.29.5